#ipad-views-wrapper {width:1024px;height:768px;overflow-x:hidden;position:relative;}
#ipad-views li {width:1024px;}

/* Loading */
#loading {width:1024px;height:768px;}
#loading_icon {margin:325px auto 0 auto;}